.main_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	text-align: center;
}

h1 {
	color: var(--cyf-color);
}

#module-info {
	margin-top: 50px;
}

h2 {
	margin: 10px 0;
	color: var(--user__containe);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
