.milestone__card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 30px;
  background-color: var(--PrimaryColor);
  padding: 40px 15px;
}
.milestone__title-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.milestone-title {
  row-gap: 0.6rem;
  font-size: 2rem;
  text-align: center;
  color: var(--SecondaryColor);
}
.deadline-prgph{
  font-size: 1.125rem;
  text-align: center; 
}
.milestone__card-subcontainer {
  display: flex;
  flex-direction: row;
}
.factor-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 2.5rem;
}
.milestone-title {
  display: flex;
  flex-direction: column;
  text-align: center; 
}
.factor-title {
  font-size: 1.625rem;
}
.card-prgph {
  display: flex;
  flex-direction: column;
  font-size: 1.625rem;
}
.card-prgph-number {
  color: var(--yellow);
  font-size: 2rem;
  padding: 10px 0 0 0;
}
p{
  font-size: 1.25rem;
}
.kyu {
  color: var(--white);
  font-size: 1.25rem;
}